.photo-details-wrap {
  width: 100%;

  .photo-details-left {
    position: absolute;
    top: 0;
    right: 300px;
    left: 0;
    bottom: 0;
    padding: 15px;
  }

  .photo-details-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    padding: 15px;
    background: fade(#222, 80%);
  }
}